<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.investorz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logosample"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockInfo"

        >
        <activity
            android:name="com.example.investorz.learnblog"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.forgetpassword"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.mutualfund"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.crypto"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.Aboutus"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.Stocks"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.Brokers"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.userprofile"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.Dashboard"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.Register"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.Login"
            android:exported="false" />
        <activity
            android:name="com.example.investorz.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>